.all{
    display:flex;
    flex-direction: column;
    width:90%;
    margin:0 auto;
}
*{
    box-sizing: border-box;
}
.navigation{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: row;
}
.main{
    display:flex;
    justify-content: center;
}
.main img{
    width:70%;
    border:1px solid grey;
    border-radius: 10px;
}
.logo img{
    width:10%;
}
.navbar{
    display:flex;
    justify-content: space-around;
    padding-top:10px;
}