@media all and (max-width: 2000px) {
    html {
        font-size: 20px;
    }
}

@media all and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
    .greetings{
        margin-top:20vh;
    }
    .is-main-header{
        font-size:3.2rem;
    }
}

@media all and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .greetings{
        margin-top:20vh;
    }
    .is-main-header{
        font-size:3.2rem;
    }
}

@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.all{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigation{
    
    display:flex;
    flex-direction: row;
}
.main{
    display:flex;
    justify-content: center;
}
.main img{
    width:60%;
    padding:0;
    border-radius: 200px;
}
.logo a img{
    width:100%;
    min-width: 70px;
    max-width:100px;
}
.navbar{
    display:flex;
    justify-content: space-around;
    padding-top:20px;
}
.greetings{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.upper{
    height:100vh;
    -webkit-animation: fadeIn 1.5s; /* Safari 4+ */
    -moz-animation:    fadeIn 1.5s; /* Fx 5+ */
    -o-animation:      fadeIn 1.5s; /* Opera 12+ */
    animation:         fadeIn 1.5s; /* IE 10+, Fx 29+ */
}
.is-main-header{
    text-align: center;
    font-size:2.8rem;
    font-weight:bold;
    margin-bottom: 1rem;
}
#subtitleGreetings{
    max-width:80%;
    font-size:1.6rem;
    text-align:center;
    margin:0 auto;
    margin-bottom:8rem;
    letter-spacing: 0.1em;
}
.description{
    background-color: rgb(93,95,255);
    color:white;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:3% 0px 3% 0px;
}
.description *{
    text-align:center;

}
.descriptionHeader{
    font-size:2rem;
    font-weight:bold;
    padding:3%;
    
}
.descriptionContent{
    margin:0 auto;
    width:80%;
    line-height: 2rem;
    font-size:1.2rem;
    text-align: center;
    word-break: keep-all;
    padding:3%;
}
.skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:3rem;
}
.footer{
    background-color: rgb(93,95,255);
    width:100%;
    padding:10px;
    text-align:right;
    color:white;
    margin:0 auto;
    font-size:0.5rem;
}
.contact{
    display:flex;
    width:90%;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    padding:3%;
}
.credentials, .message{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding:1rem;
}
.credentials *{
    width:50%;
    padding:1rem;
}
.message{
    width:100%;
}
.message *{
    width:100%;
    padding:1rem;
    resize: none;
}
.errors *{
    margin:0 auto;
    text-align: left;
    width:100%;
    color:#9f3a38;
    background-color: #fff6f6;
    padding:1rem;
    display:none;
}
.errors{
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
    width:90%;
}