.myButton{
    
    padding:15px;
    border:2px solid rgb(93,95,255);
    border-radius:30px;
    transition: all .3s ease-in-out;
    background-color: white;
    color:rgb(93,95,255);
    text-align:center;
    
}
.myButton:hover{
    color:#ffffff;
    background-color: rgb(93,95,255);
}
.myButton p{
    padding:0;
    margin: 0 auto;
    font-size:1.3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}