.projectTile{
    width:30%;
    position: relative;
    overflow: hidden;
}
.projectImg{
    width:100%;
    height:100%;
    padding:0;
    transition: all 0.5s ease-out;
}
.projectImg:hover {
    filter: brightness(50%) blur(2px);
    transition: all 0.5s ease-out;
    transform: scale(1.2);
}
.projectImg:hover+.projectCaption{
    opacity:1;
    transition: all 0.5s ease-out;
}
.projectCaption{
    opacity:0;
    top:30%;
    position: absolute;
    color:white;
    text-align:center;
    transition:all 0.5s ease-out;
}